npm=10.9.0
@fortawesome:registry=https://npm.fontawesome.com/
@sailfish-rrweb:registry=https://us-npm.pkg.dev/futureself-world/sailfishai-npm-public/
@sailfish:registry=https://us-npm.pkg.dev/futureself-world/sailfishai-npm-public/
//npm.fontawesome.com/:_authToken=924F8777-012D-4B27-80A1-9AE74D582888
